{% extends 'layouts.simple' %}

{% block main %}
  <h2>Chat</h2>
  <ul class="errors" id="errors">
  </ul>
  <form id="login-form">
    <div class="field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>

    <div class="button">
      <input type="submit" value="Connect">
    </div>
  </form>
  <form id="message-form" style="display: none;">
    <div class="field">
      <label for="message">Message</label>
      <textarea name="message" id="message"></textarea>
    </div>
    <div class="field">
      <label to="receiver">Receiver</label>
      <input type="text" name="receiver" id="receiver">
    </div>
    <div class="button">
      <input type="submit" value="Send">
    </div>
  </form>
  <div class="messages" id="messages">
    <h3>Messages</h3>
  </div>
  <script src="/assets/ws.min.js"></script>
  <script>
    const io = ws('')
    const loginForm = document.getElementById('login-form')
    const messageForm = document.getElementById('message-form')
    const messageList = document.getElementById('messages')
    var client = null
    var jwt = null

    const loginFormData = new FormData(loginForm)

    function handleResponse (response) {
      return response.json()
        .then(json => {
          if (response.ok) {
            return json
          } else {
            return Promise.reject(json)
          }
        })
    }

    loginForm.addEventListener('submit', function (e) {
      e.preventDefault()

      fetch('/login', {
        method: 'post',
        body: new FormData(loginForm)
      })
        .then(handleResponse)
        .then(data => {
          jwt = data.token
          console.log(data)
        })
        .catch(error => {

          console.error(error)
        })

      if (jwt === null) {
        return
      }

      client = io.channel('messages').withJwt(jwt).connect(console.log)
      messageForm.style.display = 'block'
      loginForm.style.display = 'none'

      client.on('message', function (m) {
        const newMessage = document.createElement('div')
        newMessage.classList = ['message']
        newMessage.id = 'message-' + m.id
        newMessage.setAttribute('data-id', m.id)
        newMessage.setAttribute('data-sender', m.sender)
        newMessage.setAttribute('data-receiver', m.receiver)
        const sender = document.createElement('em')
        const body = document.createElement('p')
        sender.innerHTML = `${m.sender} - ${m.created_at}`
        body.innerHTML = m.body
        newMessage.appendChild(sender)
        newMessage.appendChild(body)
        messageList.appendChild(newMessage)

        newMessage.addEventListener('click', function (e) {
          const id = e.getAttribute('data-id')
          const sender = e.getAttribute('data-sender')

          const message = {
            id: id,
            sender: sender,
            is_read: true
          }

          client.emit('read', message)
        })
      })

      client.on('read', function (m) {
        const message = document.querySelector(`[data-id=${m.id}]`)
        message.setAttribute('data-read', m.is_read)
      })

    }, false)

    messageForm.addEventListener('submit', function (e) {
      e.preventDefault()
      const msg = document.getElementById('message')
      client.emit('message', {
        body: msg.value,
        receiver: document.getElementById('receiver').value
      })
    }, false)

  </script>
{% endblock %}
