{% extends 'master' %}

{% block content %}
  <section class="__wrapper">
    <div class="__banner">
      <img src="/assets/logo.svg">
      <h1>Sechzehn</h1>
      <h2>Your Location App</h2>
    </div>
  </section>
{% endblock %}
