<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_darmstadt.informatik.tk.ip.bravo.sechzehn">


    <!--Permissions that are automatically granted >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!--Permissions that user manually has to grant>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <!--What's the difference? >>> https://inthecheesefactory.com/blog/things-you-need-to-know-about-android-m-permission-developer-edition/en-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!-- Reason: For foto picker-->
    <uses-permission android:name="android.permission.CAMERA" /><!-- Reason: For foto picker to make fotos-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- Reason: To share location -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Reason: ? -->
    <uses-permission android:name="android.permission.READ_PROFILE" /> <!-- Reason: ? -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Reason: ? -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SzMaterialTheme"
        >
        <activity android:name=".activities.BottomTabsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="iptk.herokuapp.com" />
                <data android:scheme="https" android:host="iptk.herokuapp.com" />
            </intent-filter>

        </activity>
        <service android:name="de.tu_darmstadt.informatik.tk.ip.bravo.sechzehn.utils.LocationService"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--              The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />


    </application>

</manifest>