body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background-image: url("assets/map.png");
  background-size: contain;
  color: #333;
  height: 100vh;
  width: 100%;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 90%;
  height: auto;
}

.__header {
  padding: 24px;
}

.__header img {
  height: 250px;
  width: auto;
}

h1 {
  font-weight: 500;
  font-size: 64px;
}

p {
  font-size: 24px;
}

.__content {
  background-color: #FFF;
  padding: 24px;
  width: 90%;
  max-width: 800px;
  margin: 48px auto;
}

.__wrapper {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.__banner h1 {
  font-size: 160px;
  font-size: 12vh;
}

.__banner h2 {
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 3vh;

}

@media all and (orientation: portrait) {
  .__banner h1 {
    font-size: 20vw;
  }

  .__banner h2 {
    font-size: 5vw;
  }
}
