{% extends 'layouts.simple' %}

{% block main %}
  <h2>Reset Your Password</h2>
  {{ form.open({ action: 'ResetController.confirm', params: {token: token} }) }}
  {{ csrfField }}

  <div class="field">
    {{ form.label('password', 'Choose a new password') }}
    {{ form.password('password') }}
  </div>

  <div class="button">
    {{ form.submit('Change') }}
  </div>

  {{ form.close() }}
{% endblock %}
